Importing the necessary libraries and functions

In [1]:
import json
import numpy as np
import pandas as pd

Opening and loading the JSON

In [2]:
with open('/content/input_data.json','r') as f:
    data = json.loads(f.read())

Extracting data from the JSON

In [3]:
refined_data = []

for i in data:
    temp_dict = dict()
    temp_dict['abstract'] = i['abstract']['_value']
    x = temp_dict['abstract'].split()
    temp_dict['label'] = i['label']['_value']
    y = temp_dict['label'].split()
    temp_dict['num_signatures'] = i['numberOfSignatures']
    temp_dict['label_length'] = len(y)
    temp_dict['abstract_length'] = len(x)
    refined_data.append(temp_dict)

Creating a datafrane to conveniently work with data

In [6]:
df = pd.DataFrame(refined_data)
df= df.drop(['abstract','label'],axis=1)
df['petition_id'] = np.arange(len(df))
df = df[['petition_id','label_length','abstract_length','num_signatures']]
df = df.sort_values(['num_signatures'],ascending = False)

In [7]:
df

       petition_id  label_length  abstract_length  num_signatures
12247        12247             8               45         6077572
7807          7807             8               33         4150262
9385          9385            12               40         1863708
6161          6161             9               52          608104
173            173             8               14          596875
...            ...           ...              ...             ...
8458          8458             8               46               6
4408          4408            11               51               6
7288          7288            12               44               6
8952          8952            11               45               6
6071          6071            11               55               6

[12387 rows x 4 columns]

Converting to CSV

In [9]:
df.to_csv('output1.csv', index = False)